<div class="panel-group" data-allow-multiple="true" role="tablist"
     aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab">
            <h1 class="panel-title">
                Full Index
            </h1>
        </div>
        <div id="fullIndexPanel" role="tabpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-sm-12">
                            <div class='col-md-4'>
                                <label>DB Thread</label>
                            </div>
                            <div class='col-md-8'>
                                <input class="form-control" id="dbThread" name="dbThread" type="text"
                                       ng-model="fullIndexRequest.noOfDbThreads" ng-readonly="fullIndexStatus.running"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class='col-md-4'>
                                <label>Doc Per Thread</label>
                            </div>
                            <div class='col-md-8'>
                                <input class="form-control" id="docPerThread" name="docPerThread" type="text"
                                       ng-model="fullIndexRequest.docsPerThread" ng-readonly="fullIndexStatus.running"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class='col-md-2'>
                                &nbsp;
                            </div>
                            <div class='col-md-8'>
                                <button id="fullIndex_button" name="fullIndex" class="btn btn-primary"
                                        type="button" ng-click="fullIndex();" ng-disabled="fullIndexStatus.running">Full
                                    Index
                                </button>
                                <button id="clear_button" name="clear_button" class="btn btn-primary"
                                        type="button" ng-click="clear();" ng-disabled="fullIndexStatus.running">Clear
                                </button>
                                <button id="refreshStatus_button" name="refreshStatus_button" class="btn btn-primary"
                                        type="button" ng-click="getFullIndexStatus();">Refresh Status
                                </button>
                            </div>
                            <div class='col-md-2'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="jh-table table table-striped">
                                <tr>
                                    <td class="col-md-2">
                                        <dt><span>Info</span></dt>
                                    </td>
                                    <td class="col-md-2">Status</td>
                                    <td class="col-md-3"><span class="reportStatus">{{fullIndexStatus.status}}</span></td>
                                    <td class="col-md-2">Docs/Threads</td>
                                    <td class="col-md-3"><span class="reportStatus">{{fullIndexStatus.docsPerThread}}</span></td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">
                                        <dt><span>Threads</span></dt>
                                    </td>
                                    <td class="col-md-2">DB Threads</td>
                                    <td class="col-md-3"><span class="reportStatus">{{fullIndexStatus.noOfDbThreads}}</span></td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">
                                        <dt><span>Time</span></dt>
                                    </td>
                                    <td class="col-md-2">Start</td>
                                    <td class="col-md-3"><span class="reportStatus">{{fullIndexStatus.startTime | date:'yyyy-MM-dd hh:mm:ss a'}}</span>
                                    </td>
                                    <td class="col-md-2">End</td>
                                    <td class="col-md-3"><span class="reportStatus">{{fullIndexStatus.endTime | date:'yyyy-MM-dd hh:mm:ss a'}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">
                                        <dt><span>Bib</span></dt>
                                    </td>
                                    <td class="col-md-2">Fetched</td>
                                    <td class="col-md-3"><span class="reportStatus">{{fullIndexStatus.numberOfBibFetched == 0 ? "" : fullIndexStatus.numberOfBibFetched}}</span>
                                    </td>
                                    <td class="col-md-2">Processed</td>
                                    <td class="col-md-3"><span class="reportStatus">{{fullIndexStatus.numberOfBibProcessed == 0 ? "" : fullIndexStatus.numberOfBibProcessed}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">
                                        <dt><span>Holdings</span></dt>
                                    </td>
                                    <td class="col-md-2">Fetched</td>
                                    <td class="col-md-3"><span class="reportStatus">{{fullIndexStatus.numberOfHoldingsFetched == 0 ? "" : fullIndexStatus.numberOfHoldingsFetched}}</span>
                                    </td>
                                    <td class="col-md-2">Processed</td>
                                    <td class="col-md-3"><span class="reportStatus">{{fullIndexStatus.numberOfHoldingsProcessed == 0 ? "" : fullIndexStatus.numberOfHoldingsProcessed}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">
                                        <dt><span>Item</span></dt>
                                    </td>
                                    <td class="col-md-2">Fetched</td>
                                    <td class="col-md-3"><span class="reportStatus">{{fullIndexStatus.numberOfItemsFetched == 0 ? "" : fullIndexStatus.numberOfItemsFetched}}</span>
                                    </td>
                                    <td class="col-md-2">Processed</td>
                                    <td class="col-md-3"><span class="reportStatus">{{fullIndexStatus.numberOfItemsProcessed == 0 ? "" : fullIndexStatus.numberOfItemsProcessed}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <modal id="messageDialogId" title="{{title}}" visible="showDialog">
            <div>
                <span id="message">{{message}}</span>
            </div>
        </modal>
    </div>
</div>