<div class="panel-group" ng-model="dataMappingsActivePanel" data-allow-multiple="true" role="tablist"
     aria-multiselectable="true" bs-collapse>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a bs-collapse-toggle href="#" ng-click="dataMappingsPanel.collapsed = !dataMappingsPanel.collapsed">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-chevron-right': !dataMappingsPanel.collapsed, 'glyphicon-chevron-down': dataMappingsPanel.collapsed}"></span>
                    Data Mappings
                </a>
            </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body">
                <p style="color:red" ng-show="batchProfileForm['dataMappingDataField_'+dataMappingIndex].$dirty && batchProfileForm['dataMappingDataField_'+dataMappingIndex].$invalid"><i class="fa fa-circle" style="font-size: 9px"></i> Data Field is required</p>
                <p style="color:red" ng-show="batchProfileForm['dataMappingSubField_'+dataMappingIndex].$dirty && batchProfileForm['dataMappingSubField_'+dataMappingIndex].$invalid"><i class="fa fa-circle" style="font-size: 9px"></i> Sub Field is required</p>
                <p style="color:red" ng-show="batchProfileForm['dataMappingDestination_'+dataMappingIndex].$dirty && batchProfileForm['dataMappingDestination_'+dataMappingIndex].$invalid"><i class="fa fa-circle" style="font-size: 9px"></i> Destination Type is required</p>
                <p style="color:red" ng-show="batchProfileForm['dataMappingField_'+dataMappingIndex].$dirty && batchProfileForm['dataMappingField_'+dataMappingIndex].$invalid"><i class="fa fa-circle" style="font-size: 9px"></i> Destination Field is required</p>
                <p style="color:red" ng-show="batchProfileForm['dataMappingConstant_'+dataMappingIndex].$dirty && batchProfileForm['dataMappingConstant_'+dataMappingIndex].$invalid"><i class="fa fa-circle" style="font-size: 9px"></i> Destination Field Value is required</p>
                <table class="table table-condensed table-bordered batchTable">
                    <thead>
                    <tr>
                        <th>Source</th>
                        <th ng-show="mainSectionPanel.batchProcessType != 'Batch Export'">Data Field</th>
                        <th ng-show="mainSectionPanel.batchProcessType != 'Batch Export'">Ind1</th>
                        <th ng-show="mainSectionPanel.batchProcessType != 'Batch Export'">Ind2</th>
                        <th ng-show="mainSectionPanel.batchProcessType != 'Batch Export'">Subfield</th>
                        <th ng-hide="mainSectionPanel.batchProcessType == 'Order Record Import' || mainSectionPanel.batchProcessType == 'Invoice Import' || mainSectionPanel.batchProcessType == 'Batch Export'">
                            Destination
                        </th>
                        <th ng-show="mainSectionPanel.batchProcessType != 'Batch Export'">Field</th>
                        <th ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">Field</th>
                        <th ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">Destination</th>
                        <th ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">Data Field</th>
                        <th ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">Ind1</th>
                        <th ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">Ind2</th>
                        <th ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">Subfield</th>
                        <th ng-hide="mainSectionPanel.batchProcessType == 'Batch Export'">Value</th>
                        <th ng-hide="mainSectionPanel.batchProcessType == 'Batch Export'">Multi Value Field</th>
                        <th ng-show="mainSectionPanel.batchProcessType == 'Bib Import'">Pre/Post Transformation</th>
                        <th>Priority</th>
                        <th ng-hide="submitted" style="width: 90px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dataMapping in dataMappingsPanel">
                        <td ng-show="mainSectionPanel.batchProcessType != 'Batch Export'">
                            <select class="form-control" name="dataMappingDocumentType_{{$index}}"
                                    id="dataMappingDocumentType_{{$index}}"
                                    ng-model="dataMapping.dataMappingDocType" ng-hide="dataMapping.isAddLine"
                                    ng-change="populationDestinations(dataMapping)">
                                <option ng-selected="{{option.name == dataMapping.dataMappingDocType}}"
                                        ng-repeat="option in dataMapping.dataMappingDocTypes" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.dataMappingDocType"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType != 'Batch Export'">
                            <input class="form-control" id="dataMappingDataField_{{$index}}"
                                   name="dataMappingDataField_{{$index}}"
                                   type="text"
                                   ng-model="dataMapping.dataField" style="height: 30px; width: 100px;"
                                   ng-hide="dataMapping.dataMappingDocType == 'Constant' || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.dataField"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType != 'Batch Export'">
                            <input class="form-control" id="dataMappingInd1_{{$index}}"
                                   name="dataMappingInd1_{{$index}}" type="text"
                                   ng-model="dataMapping.ind1"
                                   style="height: 30px; width: 50px;"
                                   ng-hide="dataMapping.dataMappingDocType == 'Constant' || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.ind1"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType != 'Batch Export'">
                            <input class="form-control" id="dataMappingInd2_{{$index}}"
                                   name="dataMappingInd2_{{$index}}" type="text"
                                   ng-model="dataMapping.ind2"
                                   style="height: 30px; width: 50px;"
                                   ng-hide="dataMapping.dataMappingDocType == 'Constant' || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.ind2"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType != 'Batch Export'">
                            <input class="form-control" id="dataMappingSubField_{{$index}}"
                                   name="dataMappingSubField_{{$index}}" type="text"
                                   ng-model="dataMapping.subField"
                                   style="height: 30px; width: 50px;"
                                   ng-hide="dataMapping.dataMappingDocType == 'Constant' || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.subField"></span>
                        </td>
                        <td ng-hide="mainSectionPanel.batchProcessType == 'Order Record Import' || mainSectionPanel.batchProcessType == 'Invoice Import' || mainSectionPanel.batchProcessType == 'Batch Export'">
                            <select class="form-control" name="dataMappingDestination_{{$index}}"
                                    id="dataMappingDestination_{{$index}}"
                                    ng-model="dataMapping.destination" ng-hide="dataMapping.isAddLine"
                                    ng-change="populateDestinationFields(dataMapping)">
                                <option ng-selected="{{option.name == dataMapping.destination}}"
                                        ng-repeat="option in dataMapping.destinations  | orderBy:'name'"
                                        value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.destination"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType != 'Batch Export'">
                            <select class="form-control" id="dataMappingField_{{$index}}"
                                    name="dataMappingField_{{$index}}" style="height: 30px; width: 200px;"
                                    ng-model="dataMapping.field"
                                    ng-hide="dataMapping.isAddLine"
                                    ng-change="populateDestinationFieldValues($index, dataMapping, dataMapping.dataMappingDocType, dataMapping.field)">
                                <option ng-selected="{{option.name == dataMapping.field}}"
                                        ng-repeat="option in dataMapping.dataMappingFields  | orderBy:'name'"
                                        value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.field"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">
                            <select class="form-control" name="dataMappingSource_{{$index}}"
                                    id="dataMappingSource_{{$index}}"
                                    ng-model="dataMapping.destination" ng-hide="dataMapping.isAddLine"
                                    ng-change="populateDestinationFields(dataMapping)">
                                <option ng-selected="{{option.name == dataMapping.destination}}"
                                        ng-repeat="option in dataMapping.destinations  | orderBy:'name'"
                                        value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.destination"></span>
                        </td>

                        <td ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">
                            <select class="form-control" id="dataMappingSourceField_{{$index}}"
                                    name="dataMappingSourceField_{{$index}}" style="height: 30px; width: 200px;"
                                    ng-model="dataMapping.field"
                                    ng-hide="dataMapping.isAddLine">
                                <option ng-selected="{{option.name == dataMapping.field}}"
                                        ng-repeat="option in dataMapping.dataMappingFields  | orderBy:'name'"
                                        value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.field"></span>
                        </td>

                        <td ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">
                            <select class="form-control" name="destinationDataMappingDocType_{{$index}}"
                                    id="destinationDataMappingDocType_{{$index}}"
                                    ng-model="dataMapping.dataMappingDocType" ng-hide="dataMapping.isAddLine">
                                <option ng-selected="{{option.name == dataMapping.dataMappingDocType}}"
                                        ng-repeat="option in dataMapping.dataMappingDocTypes" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.dataMappingDocType"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">
                            <input class="form-control" id="destinationDataMappingField_{{$index}}"
                                   name="destinationDataMappingField_{{$index}}"
                                   type="text"
                                   ng-model="dataMapping.dataField" style="height: 30px; width: 100px;"
                                   ng-hide="dataMapping.dataMappingDocType == 'Constant' || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.dataField"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">
                            <input class="form-control" id="batchExpDataMappingInd1_{{$index}}"
                                   name="batchExpDataMappingInd1_{{$index}}" type="text"
                                   ng-model="dataMapping.ind1"
                                   style="height: 30px; width: 50px;"
                                   ng-hide="dataMapping.dataMappingDocType == 'Constant' || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.ind1"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">
                            <input class="form-control" id="batchExpDataMappingInd2_{{$index}}"
                                   name="batchExpDataMappingInd2_{{$index}}" type="text"
                                   ng-model="dataMapping.ind2"
                                   style="height: 30px; width: 50px;"
                                   ng-hide="dataMapping.dataMappingDocType == 'Constant' || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.ind2"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType == 'Batch Export'">
                            <input class="form-control" id="batchExpDataMappingSubField_{{$index}}"
                                   name="batchExpDataMappingSubField_{{$index}}" type="text"
                                   ng-model="dataMapping.subField"
                                   style="height: 30px; width: 50px;"
                                   ng-hide="dataMapping.dataMappingDocType == 'Constant' || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.subField"></span>
                        </td>

                        <td>
                            <select class="form-control" id="dataMappingDestinationValue_{{$index}}"
                                    name="dataMappingDestinationValue_{{$index}}"
                                    ng-model="dataMapping.constant"
                                    ng-show="(dataMapping.field != null && dataMapping.field != undefined) && dataMapping.dataMappingDocType == 'Constant' && (dataMapping.field == 'Call Number Type'
                                            || dataMapping.field == 'Holdings Call Number Type'
                                            || dataMapping.field == 'Item Type'
                                            || dataMapping.field == 'Item Status'
                                            || dataMapping.field == 'Donor Code'
                                            || dataMapping.field == 'Location Level1'
                                            || dataMapping.field == 'Holdings Location Level1'
                                            || dataMapping.field == 'Location Level2'
                                            || dataMapping.field == 'Holdings Location Level2'
                                            || dataMapping.field == 'Location Level3'
                                            || dataMapping.field == 'Holdings Location Level3'
                                            || dataMapping.field == 'Location Level4'
                                            || dataMapping.field == 'Holdings Location Level4'
                                            || dataMapping.field == 'Location Level5'
                                            || dataMapping.field == 'Holdings Location Level5'
                                            || dataMapping.field == 'Bib Status'
                                            || dataMapping.field == 'Receipt Status'
                                            || dataMapping.field == 'Authentication Type'
                                            || dataMapping.field == 'Staff Only'
                                            || dataMapping.field == 'Access Location'
                                            || dataMapping.field == 'Statistical Code'
                                            || dataMapping.field == 'Access Status'
                                            || dataMapping.field == 'EResource Name'
                                            || dataMapping.field == 'EResource Id'
                                            || dataMapping.field == 'Platform'
                                            || dataMapping.field == 'Chart Code'
                                            || dataMapping.field == 'Org Code'
                                            || dataMapping.field == 'Item Chart Code'
                                            || dataMapping.field == 'Contract Manager'
                                            || dataMapping.field == 'Order Type'
                                            || dataMapping.field == 'Funding Source'
                                            || dataMapping.field == 'Delivery Campus Code'
                                            || dataMapping.field == 'Building Code'
                                            || dataMapping.field == 'Building Room Number'
                                            || dataMapping.field == 'Vendor Choice'
                                            || dataMapping.field == 'Cost Source'
                                            || dataMapping.field == 'Default Location'
                                            || dataMapping.field == 'Vendor Number'
                                            || dataMapping.field == 'Vendor Alias Name'
                                            || dataMapping.field == 'Acquisition Unit\'s Vendor account / Vendor Info Customer #'
                                            || dataMapping.field == 'Requestor Name'
                                            || dataMapping.field == 'Discount Type'
                                            || dataMapping.field == 'Account Number'
                                            || dataMapping.field == 'Object Code'
                                            || dataMapping.field == 'Request Source'
                                            || dataMapping.field == 'Assign To User'
                                            || dataMapping.field == 'Method Of PO Transmission'
                                            || dataMapping.field == 'Recurring Payment Type'
                                            || dataMapping.field == 'Receiving Required'
                                            || dataMapping.field == 'Use Tax Indicator'
                                            || dataMapping.field == 'Pay Req Positive Approval Req'
                                            || dataMapping.field == 'Purchase Order Confirmation Indicator'
                                            || dataMapping.field == 'Route To Requestor'
                                            || dataMapping.field == 'Fund Code'
                                            || dataMapping.field == 'Currency Type'
                                            || dataMapping.field == 'Format'
                                            || dataMapping.field == 'Statistical Code') &&  !dataMapping.isAddLine">
                                <option ng-selected="{{option.value == dataMapping.constant}}"
                                        value="{{option.value}}">
                                    {{option.value}}
                                </option>
                            </select>
                            <input class="form-control" id="dataMappingConstant_{{$index}}"
                                   name="dataMappingConstant_{{$index}}" type="text"
                                   ng-model="dataMapping.constant" ng-hide="mainSectionPanel.batchProcessType == 'Batch Export' || dataMapping.dataMappingDocType == 'Bib Marc' || dataMapping.field == 'Call Number Type'
                                            || dataMapping.field == 'Holdings Call Number Type'
                                            || dataMapping.field == 'Item Type'
                                            || dataMapping.field == 'Item Status'
                                            || dataMapping.field == 'Donor Code'
                                            || dataMapping.field == 'Location Level1'
                                            || dataMapping.field == 'Holdings Location Level1'
                                            || dataMapping.field == 'Location Level2'
                                            || dataMapping.field == 'Holdings Location Level2'
                                            || dataMapping.field == 'Location Level3'
                                            || dataMapping.field == 'Holdings Location Level3'
                                            || dataMapping.field == 'Location Level4'
                                            || dataMapping.field == 'Holdings Location Level4'
                                            || dataMapping.field == 'Location Level5'
                                            || dataMapping.field == 'Holdings Location Level5'
                                            || dataMapping.field == 'Bib Status'
                                            || dataMapping.field == 'Receipt Status'
                                            || dataMapping.field == 'Authentication Type'
                                            || dataMapping.field == 'Staff Only'
                                            || dataMapping.field == 'Access Location'
                                            || dataMapping.field == 'Statistical Code'
                                            || dataMapping.field == 'Access Status'
                                            || dataMapping.field == 'EResource Name'
                                            || dataMapping.field == 'EResource Id'
                                            || dataMapping.field == 'Platform'
                                            || dataMapping.field == 'Chart Code'
                                            || dataMapping.field == 'Org Code'
                                            || dataMapping.field == 'Item Chart Code'
                                            || dataMapping.field == 'Contract Manager'
                                            || dataMapping.field == 'Order Type'
                                            || dataMapping.field == 'Funding Source'
                                            || dataMapping.field == 'Delivery Campus Code'
                                            || dataMapping.field == 'Building Code'
                                            || dataMapping.field == 'Building Room Number'
                                            || dataMapping.field == 'Vendor Choice'
                                            || dataMapping.field == 'Cost Source'
                                            || dataMapping.field == 'Default Location'
                                            || dataMapping.field == 'Vendor Number'
                                            || dataMapping.field == 'Vendor Alias Name'
                                            || dataMapping.field == 'Acquisition Unit\'s Vendor account / Vendor Info Customer #'
                                            || dataMapping.field == 'Requestor Name'
                                            || dataMapping.field == 'Discount Type'
                                            || dataMapping.field == 'Account Number'
                                            || dataMapping.field == 'Object Code'
                                            || dataMapping.field == 'Request Source'
                                            || dataMapping.field == 'Assign To User'
                                            || dataMapping.field == 'Method Of PO Transmission'
                                            || dataMapping.field == 'Recurring Payment Type'
                                            || dataMapping.field == 'Receiving Required'
                                            || dataMapping.field == 'Use Tax Indicator'
                                            || dataMapping.field == 'Pay Req Positive Approval Req'
                                            || dataMapping.field == 'Purchase Order Confirmation Indicator'
                                            || dataMapping.field == 'Route To Requestor'
                                            || dataMapping.field == 'Fund Code'
                                            || dataMapping.field == 'Currency Type'
                                            || dataMapping.field == 'Format'
                                            || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.constant"></span>
                        </td>
                        <td>
                            <input class="form-control" type="checkbox" name="dataMappingIsMultiValue_{{$index}}"
                                   id="dataMappingIsMultiValue_{{$index}}" ng-hide="mainSectionPanel.batchProcessType == 'Batch Export'"
                                   ng-model="dataMapping.isMultiValue" style="height: 20px;">
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType == 'Bib Import'">
                            <select class="form-control" name="dataMappingTransferOption__{{$index}}"
                                    id="dataMappingTransferOption__{{$index}}"
                                    ng-model="dataMapping.transferOption" ng-hide="dataMapping.isAddLine">
                                <option ng-selected="{{option.name == dataMapping.transferOption}}"
                                        ng-repeat="option in dataMapping.transferOptions" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.transferOption"></span>
                        </td>
                        <td>
                            <input class="form-control" id="dataMappingPriority_{{$index}}"
                                   name="dataMappingPriority_{{$index}}" type="text"
                                   ng-model="dataMapping.priority"
                                   style="height: 30px; width: 50px;" ng-hide="dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.priority"></span>
                        </td>
                        <td ng-hide="submitted">
                            <button id="dataMappingAddButton_{{$index}}" name="dataMappingAddButton_{{$index}}"
                                    ng-click="dataMappingAdd()"
                                    ng-hide="dataMapping.isAddLine || dataMapping.isEdit"
                                    data-toggle="tooltip"
                                    tooltip="Add"
                                    tooltip-placement="top"
                                    class="btn btn-success btn-sm"><i class="fa fa-plus"></i>
                            </button>
                            <button id="dataMappingCopyButton_{{$index}}" name="dataMappingCopyButton_{{$index}}"
                                    ng-click="dataMappingCopyRow($index)"
                                    ng-show="dataMapping.isAddLine && !dataMapping.isEdit && !submitted"
                                    data-toggle="tooltip"
                                    tooltip="Copy"
                                    tooltip-placement="top"
                                    class="btn btn-info btn-xs"><i class="fa fa-copy"></i>
                            </button>
                            <button id="dataMappingEditButton_{{$index}}" name="dataMappingEditButton_{{$index}}"
                                    ng-click="dataMappingEditRow($index)"
                                    ng-show="dataMapping.isAddLine && !dataMapping.isEdit && !submitted"
                                    data-toggle="tooltip"
                                    tooltip="Edit"
                                    tooltip-placement="top"
                                    class="btn btn-warning btn-xs"><i class="fa fa-edit"></i>
                            </button>
                            <button id="dataMappingUpdateButton_{{$index}}" name="dataMappingUpdateButton_{{$index}}"
                                    ng-click="dataMappingUpdateRow($index)" ng-show="dataMapping.isEdit"
                                    data-toggle="tooltip"
                                    tooltip="Update"
                                    tooltip-placement="top"
                                    class="btn btn-success btn-xs"><i class="fa fa-check"></i>
                            </button>
                            <button id="dataMappingUpdateCancelButton_{{$index}}"
                                    name="dataMappingUpdateCancelButton_{{$index}}"
                                    ng-click="dataMappingCancelUpdate($index)" ng-show="dataMapping.isEdit"
                                    data-toggle="tooltip"
                                    tooltip="Cancel"
                                    tooltip-placement="top"
                                    class="btn btn-danger btn-xs"><i class="fa fa-times"></i>
                            </button>
                            <button id="dataMappingRemoveButton_{{$index}}" name="dataMappingRemoveButton_{{$index}}"
                                    ng-click="dataMappingRemove(dataMapping)"
                                    ng-show="dataMapping.isAddLine && !dataMapping.isEdit && !submitted"
                                    data-toggle="tooltip"
                                    tooltip="Remove"
                                    tooltip-placement="top"
                                    class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>