<div class="panel-group" ng-model="mainSectionActivePanel" data-allow-multiple="true" role="tablist"
     aria-multiselectable="true" bs-collapse>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a bs-collapse-toggle href="#" ng-click="mainSectionPanel.collapsed = !mainSectionPanel.collapsed">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-chevron-right': mainSectionPanel.collapsed, 'glyphicon-chevron-down': !mainSectionPanel.collapsed}"></span>
                    Main Section
                </a>
            </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body">
                <input class="form-control" type="hidden" id="profileId" name="profileId" ng-value="mainSectionPanel.profileId"
                       ng-model="mainSectionPanel.profileId">
                <table class="table table-condensed table-bordered batchTable">
                    <tbody>
                    <tr>
                        <td class="col-sm-6">
                            <span class="col-sm-4">Batch Profile Name:</span>
                            <input class="form-control" id="profileName" name="profileName" type="text"
                                   ng-model="mainSectionPanel.profileName" style="height: 30px; width: 150px;"
                                   ng-disabled="submitted"/>
                        </td>
                        <td class="col-sm-6">
                            <span class="col-sm-4">Description:</span>
                            <input class="form-control" id="profileDescription" name="profileDescription" type="text"
                                   ng-model="mainSectionPanel.profileDescription" style="height: 30px; width: 150px;"
                                   ng-disabled="submitted"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">
                            <span class="col-sm-4">Batch Process Type:</span>
                            <select class="form-control" id="batchProcessType" name="batchProcessType"
                                    ng-model="mainSectionPanel.batchProcessType"
                                    ng-change="setValuesForBatchProcessType(mainSectionPanel)" ng-disabled="submitted"
                                    style="width: 170px">
                                <option ng-selected="{{option.name == mainSectionPanel.batchProcessType}}"
                                        ng-repeat="option in mainSectionPanel.batchProcessTypeValues | orderBy:'name'"
                                        value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                        </td>
                        <td class="col-sm-6" ng-show="mainSectionPanel.batchProcessType == 'Order Record Import' || mainSectionPanel.batchProcessType == 'Invoice Import'">
                            <span class="col-sm-4">Bib Import Profile:</span>
                            <select class="form-control" id="bibImportProfile" name="bibImportProfile"
                                    ng-model="mainSectionPanel.bibImportProfileForOrderImport"
                                    ng-disabled="submitted"
                                    style="width: 170px">
                                <option ng-selected="{{option.profileName == mainSectionPanel.bibImportProfileForOrderImport}}"
                                        ng-repeat="option in bibImportProfileNames  | orderBy:'profileName'"
                                        value="{{option.profileName}}">
                                    {{option.profileName}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr ng-show="mainSectionPanel.batchProcessType == 'Order Record Import'">
                        <td class="col-sm-6">
                            <span class="col-sm-4">Requisitions For Titles:</span>
                            <select class="form-control" id="requisitionForTitles" name="requisitionForTitles"
                                    ng-model="mainSectionPanel.requisitionForTitlesOption"
                                    ng-disabled="submitted" style="width: 230px">
                                <option ng-selected="{{option.name == mainSectionPanel.requisitionForTitlesOption}}"
                                        ng-repeat="option in mainSectionPanel.requisitionForTitlesValues"
                                        value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                        </td>
                        <td class="col-sm-6">
                            <span class="col-sm-4">Marc Only:</span>
                            <input class="form-control" id="marcOnly" name="marcOnly" type="checkbox"
                                   ng-model="mainSectionPanel.marcOnly" style="width: 170px; height: 20px;"
                                   ng-disabled="submitted">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
