<div class="panel-group" ng-model="addOrOverlayActivePanel" data-allow-multiple="true" role="tablist"
     aria-multiselectable="true" bs-collapse>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a bs-collapse-toggle href="#" ng-click="toggle(addOrOverlayPanel)">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-chevron-right': !addOrOverlayPanel.collapsed, 'glyphicon-chevron-down': addOrOverlayPanel.collapsed}"></span>
                    Matching, Add and Overlay
                </a>
            </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body">
                <table class="table table-condensed table-bordered batchTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th ng-show="mainSectionPanel.batchProcessType == 'Bib Import'">Document Type</th>
                        <th ng-show="mainSectionPanel.batchProcessType == 'Bib Import'">Where</th>
                        <th ng-show="mainSectionPanel.batchProcessType == 'Bib Import'">Field</th>
                        <th ng-show="mainSectionPanel.batchProcessType == 'Bib Import'">Value</th>
                        <th ng-show="mainSectionPanel.batchProcessType == 'Bib Import'">Field Operation</th>
                        <th>Action</th>
                        <th ng-hide="submitted" style="width: 90px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="addOrOverlay in addOrOverlayPanel">
                        <td>
                            <select class="form-control" name="addOrOverlayMatchOption__{{$index}}"
                                    id="addOrOverlayMatchOption__{{$index}}"
                                    ng-model="addOrOverlay.matchOption" ng-hide="addOrOverlay.isAddLine"
                                    style="height: 30px; width: 200px;">
                                <option ng-selected="{{option.name == addOrOverlay.matchOption}}"
                                        ng-repeat="option in addOrOverlay.matchOptions" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="addOrOverlay.isAddLine" ng-bind="addOrOverlay.matchOption"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType == 'Bib Import'">
                            <select class="form-control" name="addOrOverlayDocumentType_{{$index}}"
                                    id="addOrOverlayDocumentType_{{$index}}" style="height: 30px; width: 200px;"
                                    ng-model="addOrOverlay.addOrOverlayDocType" ng-hide="addOrOverlay.isAddLine"
                                    ng-change="setDefaultsAddOrOverlay(addOrOverlay)">
                                <option ng-selected="{{option.name == addOrOverlay.addOrOverlayDocType}}"
                                        ng-repeat="option in addOrOverlay.addOrOverlayDocTypes" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="addOrOverlay.isAddLine" ng-bind="addOrOverlay.addOrOverlayDocType"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType == 'Bib Import'">
                            <select class="form-control" name="addOrOverlayField_{{$index}}"
                                    id="addOrOverlayField_{{$index}}" style="height: 30px; width: 200px;"
                                    ng-model="addOrOverlay.addOrOverlayField"
                                    ng-show="addOrOverlay.addOrOverlayDocType == 'Bibliographic' && !addOrOverlay.isAddLine"
                                    ng-change="populateDestinationFieldValues(addOrOverlay, addOrOverlay.addOrOverlayField)">
                                <option ng-selected="{{option.name == addOrOverlay.addOrOverlayField}}"
                                        ng-repeat="option in addOrOverlay.addOrOverlayFields" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="addOrOverlay.isAddLine" ng-bind="addOrOverlay.addOrOverlayField"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType == 'Bib Import'">
                            <select class="form-control" name="addOrOverlayFieldOperation_{{$index}}"
                                    id="addOrOverlayFieldOperation_{{$index}}" style="height: 30px; width: 200px;"
                                    ng-model="addOrOverlay.addOrOverlayFieldOperation"
                                    ng-show="addOrOverlay.addOrOverlayDocType == 'Bibliographic' && !addOrOverlay.isAddLine">
                                <option ng-selected="{{option.name == addOrOverlay.addOrOverlayFieldOperation}}"
                                        ng-repeat="option in addOrOverlay.addOrOverlayFieldOperations"
                                        value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="addOrOverlay.isAddLine"
                                  ng-bind="addOrOverlay.addOrOverlayFieldOperation"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType == 'Bib Import'">
                            <select class="form-control" name="addOrOverlayFieldValue_{{$index}}"
                                    id="addOrOverlayFieldValue_{{$index}}" style="height: 30px; width: 200px;"
                                    ng-model="addOrOverlay.addOrOverlayFieldValue"
                                    ng-show="addOrOverlay.addOrOverlayDocType == 'Bibliographic' && !addOrOverlay.isAddLine">
                                <option ng-selected="{{option.value == addOrOverlay.addOrOverlayFieldValue}}"
                                        ng-repeat="option in constantValues | orderBy:'value'" value="{{option.value}}">
                                    {{option.value}}
                                </option>
                            </select>
                            <span ng-show="addOrOverlay.isAddLine" ng-bind="addOrOverlay.addOrOverlayFieldValue"></span>
                        </td>
                        <td ng-show="mainSectionPanel.batchProcessType == 'Bib Import'">
                            <select class="form-control" name="addOrOverlayOperation_{{$index}}" id="addOrOverlayOperation_{{$index}}"
                                    style="height: 30px; width: 80px;"
                                    ng-model="addOrOverlay.operation"
                                    ng-hide="addOrOverlay.isAddLine || (addOrOverlay.matchOption == 'If Match Not Found' && (addOrOverlay.addOrOverlayDocType == 'Bibliographic' || addOrOverlay.addOrOverlayDocType == 'Holdings' || addOrOverlay.addOrOverlayDocType == 'Item' || addOrOverlay.addOrOverlayDocType == 'EHoldings'))">
                                <option ng-selected="{{option.name == addOrOverlay.operation}}"
                                        ng-repeat="option in addOrOverlay.operations" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <select class="form-control" name="bibAddOrOverlayOperation_{{$index}}" id="bibAddOrOverlayOperation_{{$index}}"
                                    style="height: 30px; width: 80px;"
                                    ng-model="addOrOverlay.operation"
                                    ng-show="addOrOverlay.matchOption == 'If Match Not Found' && addOrOverlay.addOrOverlayDocType == 'Bibliographic' && !addOrOverlay.isAddLine">
                                <option ng-selected="{{option.name == addOrOverlay.operation}}"
                                        ng-repeat="option in addOrOverlay.bibDoNotMatchOperations"
                                        value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <select class="form-control" name="doNotMatchAddOrOverlayOperation_{{$index}}" style="height: 30px; width: 80px;"
                                    id="doNotMatchAddOrOverlayOperation_{{$index}}"
                                    ng-model="addOrOverlay.operation"
                                    ng-show="addOrOverlay.matchOption == 'If Match Not Found' && (addOrOverlay.addOrOverlayDocType == 'Holdings' || addOrOverlay.addOrOverlayDocType == 'Item' || addOrOverlay.addOrOverlayDocType == 'EHoldings') && !addOrOverlay.isAddLine">
                                <option ng-selected="{{option.name == addOrOverlay.operation}}"
                                        ng-repeat="option in addOrOverlay.doNotMatchOperations" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="addOrOverlay.isAddLine" ng-bind="addOrOverlay.operation"></span>
                        </td>
                        <td>
                            <select class="form-control" name="addOrOverlayAddOperation_{{$index}}"
                                    id="addOrOverlayAddOperation_{{$index}}" style="height: 30px; width: 200px;"
                                    ng-model="addOrOverlay.addOperation"
                                    ng-show="mainSectionPanel.batchProcessType == 'Bib Import' && addOrOverlay.matchOption == 'If Match Not Found' && (addOrOverlay.addOrOverlayDocType == 'Holdings' || addOrOverlay.addOrOverlayDocType == 'Item' || addOrOverlay.addOrOverlayDocType == 'EHoldings') && addOrOverlay.operation == 'Add' && !addOrOverlay.isAddLine">
                                <option ng-selected="{{option.name == addOrOverlay.addOperation}}"
                                        ng-repeat="option in addOrOverlay.addOperations" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <select class="form-control" name="addOrOverlayMatchedOperation_{{$index}}"
                                    id="addOrOverlayMatchedOperation_{{$index}}" style="height: 30px; width: 200px;"
                                    ng-model="addOrOverlay.addOperation"
                                    ng-show="mainSectionPanel.batchProcessType == 'Order Record Import' && addOrOverlay.matchOption == 'If Match Found' && !addOrOverlay.isAddLine">
                                <option ng-selected="{{option.name == addOrOverlay.addOperation}}"
                                        ng-repeat="option in addOrOverlay.matchedOrderOperations" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <select class="form-control" name="addOrOverlayUnmatchedOperation_{{$index}}"
                                    id="addOrOverlayUnmatchedOperation_{{$index}}" style="height: 30px; width: 200px;"
                                    ng-model="addOrOverlay.addOperation"
                                    ng-show="mainSectionPanel.batchProcessType == 'Order Record Import' && addOrOverlay.matchOption == 'If Match Not Found' && !addOrOverlay.isAddLine">
                                <option ng-selected="{{option.name == addOrOverlay.addOperation}}"
                                        ng-repeat="option in addOrOverlay.unmatchedOrderOperations" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="mainSectionPanel.batchProcessType == 'Bib Import' && addOrOverlay.isAddLine && addOrOverlay.matchOption == 'If Match Not Found' && (addOrOverlay.addOrOverlayDocType == 'Holdings' || addOrOverlay.addOrOverlayDocType == 'Item' || addOrOverlay.addOrOverlayDocType == 'EHoldings') && addOrOverlay.operation == 'Add'"
                                  ng-bind="addOrOverlay.addOperation"></span>
                            <span ng-show="mainSectionPanel.batchProcessType == 'Order Record Import' && addOrOverlay.isAddLine"
                                  ng-bind="addOrOverlay.addOperation"></span>
                            <label ng-show="addOrOverlay.matchOption == 'If Match Found' && addOrOverlay.addOrOverlayDocType == 'Holdings'  && (addOrOverlay.operation == 'Add' || addOrOverlay.operation == 'Overlay') && !addOrOverlay.isAddLine">
                                <input type="checkbox" ng-model="addOrOverlay.addItems"> Add Items
                            </label>
                            <span ng-show="addOrOverlay.isAddLine && addOrOverlay.matchOption == 'If Match Found' && addOrOverlay.addOrOverlayDocType == 'Holdings' && (addOrOverlay.operation == 'Add' || addOrOverlay.operation == 'Overlay')">Add Items {{addOrOverlay.addItems}}</span>
                        </td>
                        <td ng-hide="submitted">
                            <button id="addOrOverlayAddButton_{{$index}}" name="addOrOverlayAddButton_{{$index}}"
                                    ng-click="addOrOverlayAdd(addOrOverlay)"
                                    ng-hide="addOrOverlay.isAddLine || addOrOverlay.isEdit"
                                    data-toggle="tooltip"
                                    tooltip="Add"
                                    tooltip-placement="top"
                                    class="btn btn-success btn-sm"><i class="fa fa-plus"></i>
                            </button>
                            <button id="addOrOverlayCopyButton_{{$index}}" name="addOrOverlayCopyButton_{{$index}}"
                                    ng-click="addOrOverlayCopyRow($index)"
                                    ng-show="addOrOverlay.isAddLine && !addOrOverlay.isEdit && !submitted"
                                    data-toggle="tooltip"
                                    tooltip="Copy"
                                    tooltip-placement="top"
                                    class="btn btn-info btn-xs"><i class="fa fa-copy"></i>
                            </button>
                            <button id="addOrOverlayEditButton_{{$index}}" name="addOrOverlayEditButton_{{$index}}"
                                    ng-click="addOrOverlayEditRow($index)"
                                    ng-show="addOrOverlay.isAddLine && !addOrOverlay.isEdit && !submitted"
                                    data-toggle="tooltip"
                                    tooltip="Edit"
                                    tooltip-placement="top"
                                    class="btn btn-warning btn-xs"><i class="fa fa-edit"></i>
                            </button>
                            <button id="addOrOverlayUpdateButton_{{$index}}" name="addOrOverlayUpdateButton_{{$index}}"
                                    ng-click="addOrOverlayUpdateRow($index)" ng-show="addOrOverlay.isEdit"
                                    data-toggle="tooltip"
                                    tooltip="Update"
                                    tooltip-placement="top"
                                    class="btn btn-success btn-xs"><i class="fa fa-check"></i>
                            </button>
                            <button id="addOrOverlayUpdateCancelButton_{{$index}}"
                                    name="addOrOverlayUpdateCancelButton_{{$index}}"
                                    ng-click="addOrOverlayCancelUpdate($index)" ng-show="addOrOverlay.isEdit"
                                    data-toggle="tooltip"
                                    tooltip="Cancel"
                                    tooltip-placement="top"
                                    class="btn btn-danger btn-xs"><i class="fa fa-times"></i>
                            </button>
                            <button id="addOrOverlayRemoveButton_{{$index}}" name="addOrOverlayRemoveButton_{{$index}}"
                                    ng-click="addOrOverlayRemove(addOrOverlay)"
                                    ng-show="addOrOverlay.isAddLine && !addOrOverlay.isEdit && !submitted"
                                    data-toggle="tooltip"
                                    tooltip="Remove"
                                    tooltip-placement="top"
                                    class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>