<div class="panel-group" ng-model="dataMappingsActivePanel" data-allow-multiple="true" role="tablist"
     aria-multiselectable="true" bs-collapse>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a bs-collapse-toggle href="#" ng-click="dataMappingsPanel.collapsed = !dataMappingsPanel.collapsed">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-chevron-right': !dataMappingsPanel.collapsed, 'glyphicon-chevron-down': dataMappingsPanel.collapsed}"></span>
                    Data Mappings
                </a>
            </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body">
                <table class="table table-condensed table-bordered batchTable">
                    <thead>
                    <tr>
                        <th ng-hide="mainSectionPanel.batchProcessType == 'Order Record Import'"></th>
                        <th>Data Field</th>
                        <th>Ind1</th>
                        <th>Ind2</th>
                        <th>Sub Field</th>
                        <th>Constant</th>
                        <th ng-hide="mainSectionPanel.batchProcessType == 'Order Record Import'">Destination</th>
                        <th>Field</th>
                        <th>Priority</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dataMapping in dataMappingsPanel">
                        <td ng-hide="mainSectionPanel.batchProcessType == 'Order Record Import'">
                            <select name="dataMappingDocumentType_{{$index}}" id="dataMappingDocumentType_{{$index}}"
                                    ng-model="dataMapping.dataMappingDocType" ng-hide="dataMapping.isAddLine">
                                <option ng-selected="{{option.name == dataMapping.dataMappingDocType}}"
                                        ng-repeat="option in dataMapping.dataMappingDocTypes" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.dataMappingDocType"></span>
                        </td>
                        <td>
                            <input id="dataMappingDataField_{{$index}}" name="dataMappingDataField_{{$index}}"
                                   type="text"
                                   ng-model="dataMapping.dataField" style="height: 30px; width: 100px;"
                                   ng-hide="dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.dataField"></span>
                        </td>
                        <td>
                            <input id="dataMappingInd1_{{$index}}" name="dataMappingInd1_{{$index}}" type="text"
                                   ng-model="dataMapping.ind1"
                                   style="height: 30px; width: 50px;" ng-hide="dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.ind1"></span>
                        </td>
                        <td>
                            <input id="dataMappingInd2_{{$index}}" name="dataMappingInd2_{{$index}}" type="text"
                                   ng-model="dataMapping.ind2"
                                   style="height: 30px; width: 50px;" ng-hide="dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.ind2"></span>
                        </td>
                        <td>
                            <input id="dataMappingSubField_{{$index}}" name="dataMappingSubField_{{$index}}" type="text"
                                   ng-model="dataMapping.subField"
                                   style="height: 30px; width: 50px;" ng-hide="dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.subField"></span>
                        </td>
                        <td>
                            <input id="dataMappingConstant_{{$index}}" name="dataMappingConstant_{{$index}}" type="text"
                                   ng-model="dataMapping.constant"
                                   style="height: 30px; width: 50px;" ng-hide="dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.constant"></span>
                        </td>
                        <td ng-hide="mainSectionPanel.batchProcessType == 'Order Record Import'">
                            <select name="dataMappingDestination_{{$index}}" id="dataMappingDestination_{{$index}}"
                                    ng-model="dataMapping.destination" ng-hide="dataMapping.isAddLine" ng-change="setDefaultsDestination(dataMapping)">
                                <option ng-selected="{{option.name == dataMapping.destination}}"
                                        ng-repeat="option in dataMapping.destinations" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.destination"></span>
                        </td>
                        <td>
                            <select id="dataMappingHoldingsField_{{$index}}" name="dataMappingHoldingsField_{{$index}}"
                                    ng-model="dataMapping.field"
                                    ng-show="dataMapping.destination == 'Holdings' && !dataMapping.isAddLine">
                                <option ng-selected="{{option.name == dataMapping.destination}}"
                                        ng-repeat="option in dataMapping.holdingsFields" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <select id="dataMappingItemField_{{$index}}" name="dataMappingItemField_{{$index}}"
                                    ng-model="dataMapping.field"
                                    ng-show="dataMapping.destination == 'Item' && !dataMapping.isAddLine">
                                <option ng-selected="{{option.name == dataMapping.destination}}"
                                        ng-repeat="option in dataMapping.itemFields" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <select id="dataMappingEHoldingsField_{{$index}}"
                                    name="dataMappingEHoldingsField_{{$index}}"
                                    ng-model="dataMapping.field"
                                    ng-show="dataMapping.destination == 'EHoldings' && !dataMapping.isAddLine">
                                <option ng-selected="{{option.name == dataMapping.destination}}"
                                        ng-repeat="option in dataMapping.eHoldingsFields" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <select id="dataMappingOrderField_{{$index}}"
                                    name="dataMappingOrderField_{{$index}}"
                                    ng-model="dataMapping.field"
                                    ng-show="mainSectionPanel.batchProcessType == 'Order Record Import' && !dataMapping.isAddLine">
                                <option ng-selected="{{option.name == dataMapping.destination}}"
                                        ng-repeat="option in dataMapping.dataMappingOrderFields" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.field"></span>
                        </td>
                        <td>
                            <input id="dataMappingPriority_{{$index}}" name="dataMappingPriority_{{$index}}" type="text"
                                   ng-model="dataMapping.priority"
                                   style="height: 30px; width: 50px;" ng-hide="dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.priority"></span>
                        </td>
                        <td>
                            <button id="dataMappingAddButton_{{$index}}" name="dataMappingAddButton_{{$index}}"
                                    ng-click="dataMappingAdd(dataMapping)" ng-hide="dataMapping.isAddLine" class="btn btn-success">Add
                            </button>
                            <button id="dataMappingRemoveButton_{{$index}}" name="dataMappingRemoveButton_{{$index}}"
                                    ng-click="dataMappingRemove(dataMapping)"
                                    ng-show="dataMapping.isAddLine && !submitted" class="btn btn-danger">Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>