<div class="panel-group" ng-model="mainSectionActivePanel" data-allow-multiple="true" role="tablist"
     aria-multiselectable="true" bs-collapse>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a bs-collapse-toggle href="#" ng-click="toggle(mainSectionPanel)">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-chevron-right': mainSectionPanel.collapsed, 'glyphicon-chevron-down': !mainSectionPanel.collapsed}"></span>
                    Main Section
                </a>
            </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body">
                <input type="hidden" id="profileId" name="profileId" ng-value="mainSectionPanel.profileId"
                       ng-model="mainSectionPanel[0].profileId">
                <table class="table table-condensed table-bordered batchTable">
                    <tbody>
                    <tr>
                        <td class="col-sm-6">
                            <span class="col-sm-3">Batch Profile Name:</span>
                            <input id="profileName" name="profileName" type="text"
                                   ng-model="mainSectionPanel[0].profileName" style="height: 30px; width: 150px;"
                                   ng-disabled="submitted"/>
                        </td>
                        <td class="col-sm-6">
                            <span class="col-sm-3">Description:</span>
                            <input id="profileDescription" name="profileDescription" type="text"
                                   ng-model="mainSectionPanel[0].profileDescription" style="height: 30px; width: 150px;"
                                   ng-disabled="submitted"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">
                            <span class="col-sm-3">Batch Process Type:</span>
                            <input id="batchProcessType" name="batchProcessType" type="text"
                                   ng-model="mainSectionPanel[0].batchProcessType" style="height: 30px; width: 150px;"
                                   ng-disabled="true"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
