<div class="panel-group" ng-model="matchPointsActivePanel" data-allow-multiple="true" role="tablist"
     aria-multiselectable="true" bs-collapse>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a bs-collapse-toggle href="#" ng-click="matchPointsPanel.collapsed = !matchPointsPanel.collapsed">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-chevron-right': !matchPointsPanel.collapsed, 'glyphicon-chevron-down': matchPointsPanel.collapsed}"></span>
                    Match Points
                </a>
            </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body">

                <pre><label>Force Load: <input id="forceLoad" name="forceLoad" type="checkbox"
                                               ng-model="matchPointsActivePanel.forceLoad"
                                               ng-disabled="submitted"></label></pre>

                <table class="table table-condensed table-bordered batchTable">
                    <thead>
                    <tr>
                        <th>Doc Type</th>
                        <th>Match Type</th>
                        <th>Match Type Value</th>
                        <th>Data/Control Field</th>
                        <th>Ind1</th>
                        <th>Ind2</th>
                        <th>Sub Field</th>
                        <th>Constant</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="matchPoint in matchPointsPanel">
                        <td>
                            <select id="matchPointDocumentType_{{$index}}" name="matchPointDocumentType_{{$index}}"
                                    ng-model="matchPoint.matchPointDocType" ng-hide="matchPoint.isAddLine"
                                    ng-change="setDefaultsMatchPoint(matchPoint)">
                                <option ng-selected="{{option.name == matchPoint.matchPointDocType}}"
                                        ng-repeat="option in matchPoint.matchPointDocTypes" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="matchPoint.isAddLine" ng-bind="matchPoint.matchPointDocType"></span>
                        </td>
                        <td>
                            <select id="matchPointHoldings_{{$index}}" name="matchPointHoldings_{{$index}}"
                                    ng-model="matchPoint.matchPointType"
                                    ng-show="matchPoint.matchPointDocType == 'Holdings' && !matchPoint.isAddLine"
                                    ng-change="getMaintenanceValuesForType(matchPoint)">
                                <option ng-selected="{{option.name == matchPoint.matchPointType}}"
                                        ng-repeat="option in matchPoint.holdingsMatchPoints" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <select id="matchPointItem_{{$index}}" name="matchPointItem_{{$index}}"
                                    ng-model="matchPoint.matchPointType"
                                    ng-show="matchPoint.matchPointDocType == 'Item' && !matchPoint.isAddLine"
                                    ng-change="getMaintenanceValuesForType(matchPoint)">
                                <option ng-selected="{{option.name == matchPoint.matchPointType}}"
                                        ng-repeat="option in matchPoint.itemMatchPoints" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <select id="matchPointEholdings_{{$index}}" name="matchPointEholdings_{{$index}}"
                                    ng-model="matchPoint.matchPointType"
                                    ng-show="matchPoint.matchPointDocType == 'EHoldings' && !matchPoint.isAddLine"
                                    ng-change="getMaintenanceValuesForType(matchPoint)">
                                <option ng-selected="{{option.name == matchPoint.matchPointType}}"
                                        ng-repeat="option in matchPoint.eHoldingsMatchPoints" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="matchPoint.isAddLine" ng-bind="matchPoint.matchPointType"></span>
                        </td>
                        <td>
                            <select id="matchPointCallNumberType_{{$index}}" name="matchPointCallNumberType_{{$index}}"
                                    ng-model="matchPoint.matchPointValue"
                                    ng-show="(matchPoint.matchPointType == 'Call Number Type' || matchPoint.matchPointType == 'Holdings Call Number Type') && !matchPoint.isAddLine">
                                <option ng-selected="{{option.callNumberTypeCode == matchPoint.matchPointValue}}"
                                        ng-repeat="option in callNumberTypeValues"
                                        value="{{option.callNumberTypeCode}}">
                                    {{option.callNumberTypeCode}}
                                </option>
                            </select>
                            <select id="matchPointItemType_{{$index}}" name="matchPointItemType_{{$index}}"
                                    ng-model="matchPoint.matchPointValue"
                                    ng-show="matchPoint.matchPointType == 'Item Type' && !matchPoint.isAddLine">
                                <option ng-selected="{{option.itemTypeName == matchPoint.matchPointValue}}"
                                        ng-repeat="option in itemTypeValues" value="{{option.itemTypeName}}">
                                    {{option.itemTypeName}}
                                </option>
                            </select>
                            <select id="matchPointItemStatus_{{$index}}" name="matchPointItemStatus_{{$index}}"
                                    ng-model="matchPoint.matchPointValue"
                                    ng-show="matchPoint.matchPointType == 'Item Status' && !matchPoint.isAddLine">
                                <option ng-selected="{{option.itemStatusName == matchPoint.matchPointValue}}"
                                        ng-repeat="option in itemStatusValues" value="{{option.itemStatusName}}">
                                    {{option.itemStatusName}}
                                </option>
                            </select>
                            <select id="matchPointDonorCode_{{$index}}" name="matchPointDonorCode_{{$index}}"
                                    ng-model="matchPoint.matchPointValue"
                                    ng-show="matchPoint.matchPointType == 'Donor Code' && !matchPoint.isAddLine">
                                <option ng-selected="{{option.donorCode == matchPoint.matchPointValue}}"
                                        ng-repeat="option in donorCodes" value="{{option.donorCode}}">
                                    {{option.donorCode}}
                                </option>
                            </select>
                            <select id="matchPointLocationLevel1_{{$index}}" name="matchPointLocationLevel1_{{$index}}"
                                    ng-model="matchPoint.matchPointValue"
                                    ng-show="(matchPoint.matchPointType == 'Location Level1' || matchPoint.matchPointType == 'Holdings Location Level1') && !matchPoint.isAddLine">
                                <option ng-selected="{{option.locationCode == matchPoint.matchPointValue}}"
                                        ng-repeat="option in locationLevel1Values" value="{{option.locationCode}}">
                                    {{option.locationCode}}
                                </option>
                            </select>
                            <select id="matchPointLocationLevel2_{{$index}}" name="matchPointLocationLevel2_{{$index}}"
                                    ng-model="matchPoint.matchPointValue"
                                    ng-show="(matchPoint.matchPointType == 'Location Level2' || matchPoint.matchPointType == 'Holdings Location Level2') && !matchPoint.isAddLine">
                                <option ng-selected="{{option.locationCode == matchPoint.matchPointValue}}"
                                        ng-repeat="option in locationLevel2Values" value="{{option.locationCode}}">
                                    {{option.locationCode}}
                                </option>
                            </select>
                            <select id="matchPointLocationLevel3_{{$index}}" name="matchPointLocationLevel3_{{$index}}"
                                    ng-model="matchPoint.matchPointValue"
                                    ng-show="(matchPoint.matchPointType == 'Location Level3' || matchPoint.matchPointType == 'Holdings Location Level3') && !matchPoint.isAddLine">
                                <option ng-selected="{{option.locationCode == matchPoint.matchPointValue}}"
                                        ng-repeat="option in locationLevel3Values" value="{{option.locationCode}}">
                                    {{option.locationCode}}
                                </option>
                            </select>
                            <select id="matchPointLocationLevel4_{{$index}}" name="matchPointLocationLevel4_{{$index}}"
                                    ng-model="matchPoint.matchPointValue"
                                    ng-show="(matchPoint.matchPointType == 'Location Level4' || matchPoint.matchPointType == 'Holdings Location Level4') && !matchPoint.isAddLine">
                                <option ng-selected="{{option.locationCode == matchPoint.matchPointValue}}"
                                        ng-repeat="option in locationLevel4Values" value="{{option.locationCode}}">
                                    {{option.locationCode}}
                                </option>
                            </select>
                            <select id="matchPointLocationLevel5_{{$index}}" name="matchPointLocationLevel5_{{$index}}"
                                    ng-model="matchPoint.matchPointValue"
                                    ng-show="(matchPoint.matchPointType == 'Location Level5' || matchPoint.matchPointType == 'Holdings Location Level5') && !matchPoint.isAddLine">
                                <option ng-selected="{{option.locationCode == matchPoint.matchPointValue}}"
                                        ng-repeat="option in locationLevel5Values" value="{{option.locationCode}}">
                                    {{option.locationCode}}
                                </option>
                            </select>
                            <span ng-show="matchPoint.isAddLine" ng-bind="matchPoint.matchPointValue"></span>
                        </td>
                        <td>
                            <input id="matchPointDataField_{{$index}}" name="matchPointDataField_{{$index}}"
                                   type="text"
                                   ng-model="matchPoint.dataField"
                                   ng-hide="matchPoint.isAddLine"
                                   style="height: 30px; width: 100px;"/>
                            <span ng-show="matchPoint.isAddLine" ng-bind="matchPoint.dataField"></span>
                        </td>
                        <td>
                            <input id="matchPointInd1_{{$index}}" name="matchPointInd1_{{$index}}" type="text"
                                   ng-model="matchPoint.ind1"
                                   ng-hide="matchPoint.isAddLine"
                                   style="height: 30px; width: 50px;"/>
                            <span ng-show="matchPoint.isAddLine" ng-bind="matchPoint.ind1"></span>
                        </td>
                        <td>
                            <input id="matchPointInd2_{{$index}}" name="matchPointInd2_{{$index}}" type="text"
                                   ng-model="matchPoint.ind2"
                                   ng-hide="matchPoint.isAddLine"
                                   style="height: 30px; width: 50px;"/>
                            <span ng-show="matchPoint.isAddLine" ng-bind="matchPoint.ind2"></span>
                        </td>
                        <td>
                            <input id="matchPointSubField_{{$index}}" name="matchPointSubField_{{$index}}" type="text"
                                   ng-model="matchPoint.subField"
                                   ng-hide="matchPoint.isAddLine"
                                   style="height: 30px; width: 50px;"/>
                            <span ng-show="matchPoint.isAddLine" ng-bind="matchPoint.subField"></span>
                        </td>
                        <td>
                            <input id="matchPointConstant_{{$index}}" name="matchPointConstant_{{$index}}" type="text"
                                   ng-model="matchPoint.constant"
                                   ng-show="(matchPoint.matchPointDocType == 'Holdings' || matchPoint.matchPointDocType == 'Item' || matchPoint.matchPointDocType == 'EHoldings') && !matchPoint.isAddLine"
                                   style="height: 30px; width: 50px;"/>
                            <span ng-show="matchPoint.isAddLine" ng-bind="matchPoint.constant"></span>
                        </td>
                        <td>
                            <button type="button" id="matchPointAddButton_{{$indshowRemoveex}}"
                                    name="matchPointAddButton_{{$index}}"
                                    ng-click="matchPointAdd(matchPoint)" ng-hide="matchPoint.isAddLine"
                                    class="btn btn-success btn-sm">Add
                            </button>
                            <button type="button" id="matchPointRemoveButton_{{$index}}"
                                    name="matchPointRemoveButton_{{$index}}"
                                    ng-click="matchPointRemove(matchPoint)"
                                    ng-show="matchPoint.isAddLine && !submitted" class="btn btn-danger btn-xs">Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
