<div class="panel-group" ng-model="dataMappingsActivePanel" data-allow-multiple="true" role="tablist"
     aria-multiselectable="true" bs-collapse>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a bs-collapse-toggle href="#" ng-click="dataMappingsPanel.collapsed = !dataMappingsPanel.collapsed">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-chevron-right': !dataMappingsPanel.collapsed, 'glyphicon-chevron-down': dataMappingsPanel.collapsed}"></span>
                    Data Mappings
                </a>
            </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body">
                <table class="table table-condensed table-bordered batchTable">
                    <thead>
                    <tr>
                        <th>Source</th>
                        <th>Data Field</th>
                        <th>Ind1</th>
                        <th>Ind2</th>
                        <th>Subfield</th>
                        <th ng-hide="mainSectionPanel.batchProcessType == 'Order Record Import' || mainSectionPanel.batchProcessType == 'Invoice Import'">Destination</th>
                        <th>Field</th>
                        <th>Value</th>
                        <th>Pre/Post Transformation</th>
                        <th>Priority</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dataMapping in dataMappingsPanel">
                        <td>
                            <select class="form-control" name="dataMappingDocumentType_{{$index}}" id="dataMappingDocumentType_{{$index}}"
                                    ng-model="dataMapping.dataMappingDocType" ng-hide="dataMapping.isAddLine"
                                    ng-change="populationDestinations(dataMapping)">
                                <option ng-selected="{{option.name == dataMapping.dataMappingDocType}}"
                                        ng-repeat="option in dataMapping.dataMappingDocTypes" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.dataMappingDocType"></span>
                        </td>
                        <td>
                            <input class="form-control" id="dataMappingDataField_{{$index}}" name="dataMappingDataField_{{$index}}"
                                   type="text"
                                   ng-model="dataMapping.dataField" style="height: 30px; width: 100px;"
                                   ng-hide="dataMapping.dataMappingDocType == 'Constant' || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.dataField"></span>
                        </td>
                        <td>
                            <input class="form-control" id="dataMappingInd1_{{$index}}" name="dataMappingInd1_{{$index}}" type="text"
                                   ng-model="dataMapping.ind1"
                                   style="height: 30px; width: 50px;" ng-hide="dataMapping.dataMappingDocType == 'Constant' || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.ind1"></span>
                        </td>
                        <td>
                            <input class="form-control" id="dataMappingInd2_{{$index}}" name="dataMappingInd2_{{$index}}" type="text"
                                   ng-model="dataMapping.ind2"
                                   style="height: 30px; width: 50px;" ng-hide="dataMapping.dataMappingDocType == 'Constant' || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.ind2"></span>
                        </td>
                        <td>
                            <input class="form-control" id="dataMappingSubField_{{$index}}" name="dataMappingSubField_{{$index}}" type="text"
                                   ng-model="dataMapping.subField"
                                   style="height: 30px; width: 50px;" ng-hide="dataMapping.dataMappingDocType == 'Constant' || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.subField"></span>
                        </td>
                        <td ng-hide="mainSectionPanel.batchProcessType == 'Order Record Import' || mainSectionPanel.batchProcessType == 'Invoice Import'">
                            <select class="form-control" name="dataMappingDestination_{{$index}}" id="dataMappingDestination_{{$index}}"
                                    ng-model="dataMapping.destination" ng-hide="dataMapping.isAddLine"
                                    ng-change="populateDestinationFields(dataMapping)">
                                <option ng-selected="{{option.name == dataMapping.destination}}"
                                        ng-repeat="option in dataMapping.destinations  | orderBy:'name'"
                                        value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.destination"></span>
                        </td>
                        <td>
                            <select class="form-control" id="dataMappingdestinationField_{{$index}}" name="dataMappingdestinationField_{{$index}}" style="height: 30px; width: 200px;"
                                    ng-model="dataMapping.field"
                                    ng-show="mainSectionPanel.batchProcessType == 'Bib Import' && !dataMapping.isAddLine"
                                    ng-change="populateDestinationFieldValues(dataMapping, dataMapping.field)">
                                <option ng-selected="{{option.name == dataMapping.destination}}"
                                        ng-repeat="option in dataMapping.destinationFields  | orderBy:'name'"
                                        value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <select class="form-control" id="dataMappingOrderField_{{$index}}" style="height: 30px; width: 350px;"
                                    name="dataMappingOrderField_{{$index}}"
                                    ng-model="dataMapping.field"
                                    ng-show="(mainSectionPanel.batchProcessType == 'Order Record Import' || mainSectionPanel.batchProcessType == 'Invoice Import') && !dataMapping.isAddLine"
                                    ng-change="populateDestinationFieldValues(dataMapping, dataMapping.field)">
                                <option ng-selected="{{option.name == dataMapping.destination}}"
                                        ng-repeat="option in dataMapping.dataMappingFields"
                                        value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.field"></span>
                        </td>
                        <td>
                            <select class="form-control" id="dataMappingDestinationValue_{{$index}}"
                                    name="dataMappingDestinationValue_{{$index}}"
                                    ng-model="dataMapping.constant"
                                    ng-show="(dataMapping.field != null && dataMapping.field != undefined) && (dataMapping.field == 'Call Number Type'
                                            || dataMapping.field == 'Holdings Call Number Type'
                                            || dataMapping.field == 'Item Type'
                                            || dataMapping.field == 'Item Status'
                                            || dataMapping.field == 'Donor Code'
                                            || dataMapping.field == 'Location Level1'
                                            || dataMapping.field == 'Holdings Location Level1'
                                            || dataMapping.field == 'Location Level2'
                                            || dataMapping.field == 'Holdings Location Level2'
                                            || dataMapping.field == 'Location Level3'
                                            || dataMapping.field == 'Holdings Location Level3'
                                            || dataMapping.field == 'Location Level4'
                                            || dataMapping.field == 'Holdings Location Level4'
                                            || dataMapping.field == 'Location Level5'
                                            || dataMapping.field == 'Holdings Location Level5'
                                            || dataMapping.field == 'Bib Status'
                                            || dataMapping.field == 'Receipt Status'
                                            || dataMapping.field == 'Authentication Type'
                                            || dataMapping.field == 'Staff Only'
                                            || dataMapping.field == 'Access Location'
                                            || dataMapping.field == 'Statistical Code') &&  !dataMapping.isAddLine">
                                <option ng-selected="{{option.value == dataMapping.constant}}"
                                        ng-repeat="option in constantValues | orderBy:'value'"
                                        value="{{option.value}}">
                                    {{option.value}}
                                </option>
                            </select>
                            <select class="form-control" name="dataMappingConstantBoolean_{{$index}}"
                                    id="dataMappingConstantBoolean_{{$index}}"
                                    ng-model="dataMapping.constant"
                                    ng-show="(dataMapping.field == 'Receiving Required' || dataMapping.field == 'Use Tax Indicator' || dataMapping.field == 'Pay Req Positive Approval Req' || dataMapping.field == 'Purchase Order Confirmation Indicator' || dataMapping.field == 'Route To Requestor') && !dataMapping.isAddLine">
                                <option ng-selected="{{option.value == dataMapping.field}}"
                                        ng-repeat="option in booleanOptions"
                                        value="{{option.value}}">{{option.value}}
                                </option>
                            </select>
                            <select class="form-control" name="dataMappingConstantDiscountType_{{$index}}"
                                    id="dataMappingConstantDiscountType_{{$index}}"
                                    ng-model="dataMapping.constant"
                                    ng-show="dataMapping.field == 'Discount Type' && !dataMapping.isAddLine">
                                <option ng-selected="{{option.name == dataMapping.constant}}"
                                        ng-repeat="option in dataMapping.discountTypes"
                                        value="{{option.name}}">{{option.name}}
                                </option>
                            </select>
                            <select class="form-control" name="dataMappingConstantFieldValues_{{$index}}"
                                    id="dataMappingConstantFieldValues_{{$index}}"
                                    ng-model="dataMapping.constant"
                                    ng-show="(dataMapping.field == 'Chart Code'
                                            || dataMapping.field == 'Org Code'
                                            || dataMapping.field == 'Item Chart Code'
                                            || dataMapping.field == 'Contract Manager'
                                            || dataMapping.field == 'Order Type'
                                            || dataMapping.field == 'Funding Source'
                                            || dataMapping.field == 'Delivery Campus Code'
                                            || dataMapping.field == 'Building Code'
                                            || dataMapping.field == 'Building Room Number'
                                            || dataMapping.field == 'Vendor Choice'
                                            || dataMapping.field == 'Cost Source'
                                            || dataMapping.field == 'Default Location'
                                            || dataMapping.field == 'Vendor Number'
                                            || dataMapping.field == 'Vendor Alias Name'
                                            || dataMapping.field == 'Acquisition Unit\'s Vendor account / Vendor Info Customer #'
                                            || dataMapping.field == 'Requestor Name'
                                            || dataMapping.field == 'Account Number'
                                            || dataMapping.field == 'Object Code'
                                            || dataMapping.field == 'Request Source'
                                            || dataMapping.field == 'Assign To User'
                                            || dataMapping.field == 'Method Of PO Transmission'
                                            || dataMapping.field == 'Recurring Payment Type'
                                            || dataMapping.field == 'Fund Code'
                                            || dataMapping.field == 'Currency Type') && !dataMapping.isAddLine">
                                <option ng-selected="{{option.name == dataMapping.constant}}"
                                        ng-repeat="option in dataMappingFieldValues  | orderBy:'name'"
                                        value="{{option.name}}">{{option.name}}
                                </option>
                            </select>
                            <input class="form-control" id="dataMappingConstant_{{$index}}" name="dataMappingConstant_{{$index}}" type="text"
                                   ng-model="dataMapping.constant" ng-hide="dataMapping.field == 'Call Number Type'
                                            || dataMapping.field == 'Holdings Call Number Type'
                                            || dataMapping.field == 'Item Type'
                                            || dataMapping.field == 'Item Status'
                                            || dataMapping.field == 'Donor Code'
                                            || dataMapping.field == 'Location Level1'
                                            || dataMapping.field == 'Holdings Location Level1'
                                            || dataMapping.field == 'Location Level2'
                                            || dataMapping.field == 'Holdings Location Level2'
                                            || dataMapping.field == 'Location Level3'
                                            || dataMapping.field == 'Holdings Location Level3'
                                            || dataMapping.field == 'Location Level4'
                                            || dataMapping.field == 'Holdings Location Level4'
                                            || dataMapping.field == 'Location Level5'
                                            || dataMapping.field == 'Holdings Location Level5'
                                            || dataMapping.field == 'Bib Status'
                                            || dataMapping.field == 'Receipt Status'
                                            || dataMapping.field == 'Authentication Type'
                                            || dataMapping.field == 'Staff Only'
                                            || dataMapping.field == 'Access Location'
                                            || dataMapping.field == 'Statistical Code'
                                            || dataMapping.field == 'Chart Code'
                                            || dataMapping.field == 'Org Code'
                                            || dataMapping.field == 'Item Chart Code'
                                            || dataMapping.field == 'Contract Manager'
                                            || dataMapping.field == 'Order Type'
                                            || dataMapping.field == 'Funding Source'
                                            || dataMapping.field == 'Delivery Campus Code'
                                            || dataMapping.field == 'Building Code'
                                            || dataMapping.field == 'Building Room Number'
                                            || dataMapping.field == 'Vendor Choice'
                                            || dataMapping.field == 'Cost Source'
                                            || dataMapping.field == 'Default Location'
                                            || dataMapping.field == 'Vendor Number'
                                            || dataMapping.field == 'Vendor Alias Name'
                                            || dataMapping.field == 'Acquisition Unit\'s Vendor account / Vendor Info Customer #'
                                            || dataMapping.field == 'Requestor Name'
                                            || dataMapping.field == 'Discount Type'
                                            || dataMapping.field == 'Account Number'
                                            || dataMapping.field == 'Object Code'
                                            || dataMapping.field == 'Request Source'
                                            || dataMapping.field == 'Assign To User'
                                            || dataMapping.field == 'Method Of PO Transmission'
                                            || dataMapping.field == 'Recurring Payment Type'
                                            || dataMapping.field == 'Receiving Required'
                                            || dataMapping.field == 'Use Tax Indicator'
                                            || dataMapping.field == 'Pay Req Positive Approval Req'
                                            || dataMapping.field == 'Purchase Order Confirmation Indicator'
                                            || dataMapping.field == 'Route To Requestor'
                                            || dataMapping.field == 'Fund Code'
                                            || dataMapping.field == 'Currency Type'
                                            || dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.constant"></span>
                        </td>
                        <td>
                            <select class="form-control" name="dataMappingTransferOption__{{$index}}" id="dataMappingTransferOption__{{$index}}"
                                    ng-model="dataMapping.transferOption" ng-hide="dataMapping.isAddLine">
                                <option ng-selected="{{option.name == dataMapping.transferOption}}"
                                        ng-repeat="option in dataMapping.transferOptions" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.transferOption"></span>
                        </td>
                        <td>
                            <input class="form-control" id="dataMappingPriority_{{$index}}" name="dataMappingPriority_{{$index}}" type="text"
                                   ng-model="dataMapping.priority"
                                   style="height: 30px; width: 50px;" ng-hide="dataMapping.isAddLine"/>
                            <span ng-show="dataMapping.isAddLine" ng-bind="dataMapping.priority"></span>
                        </td>
                        <td>
                            <button id="dataMappingAddButton_{{$index}}" name="dataMappingAddButton_{{$index}}"
                                    ng-click="dataMappingAdd(dataMapping)"
                                    ng-hide="dataMapping.isAddLine || dataMapping.isEdit"
                                    class="btn btn-success btn-sm"><i class="fa fa-plus"></i>
                            </button>
                            <button id="dataMappingEditButton_{{$index}}" name="dataMappingEditButton_{{$index}}"
                                    ng-click="dataMappingEditRow($index)"
                                    ng-show="dataMapping.isAddLine && !dataMapping.isEdit && !submitted"
                                    class="btn btn-warning btn-xs"><i class="fa fa-edit"></i>
                            </button>
                            <button id="dataMappingUpdateButton_{{$index}}" name="dataMappingUpdateButton_{{$index}}"
                                    ng-click="dataMappingUpdateRow($index)" ng-show="dataMapping.isEdit"
                                    class="btn btn-success btn-xs"><i class="fa fa-check"></i>
                            </button>
                            <button id="dataMappingUpdateCancelButton_{{$index}}"
                                    name="dataMappingUpdateCancelButton_{{$index}}"
                                    ng-click="dataMappingCancelUpdate($index)" ng-show="dataMapping.isEdit"
                                    class="btn btn-danger btn-xs"><i class="fa fa-times"></i>
                            </button>
                            <button id="dataMappingRemoveButton_{{$index}}" name="dataMappingRemoveButton_{{$index}}"
                                    ng-click="dataMappingRemove(dataMapping)"
                                    ng-show="dataMapping.isAddLine && !dataMapping.isEdit && !submitted"
                                    class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>