<div class="panel-group" ng-model="matchPointsActivePanel" data-allow-multiple="true" role="tablist"
     aria-multiselectable="true" bs-collapse>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a bs-collapse-toggle ng-click="toggle(matchPointsPanel)">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-chevron-right': !matchPointsPanel.collapsed, 'glyphicon-chevron-down': matchPointsPanel.collapsed}"></span>
                    Match Points
                </a>
            </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body">
                <table class="table table-condensed table-bordered">
                    <tbody>
                    <tr ng-repeat="matchPoint in matchPointsPanel">
                        <td>
                            <select id="matchPointDocumentType_{{$index}}" name="matchPointDocumentType_{{$index}}"
                                    ng-model="matchPoint.matchPointDocType" ng-hide="matchPoint.isAddLine">
                                <option ng-selected="{{option.name == matchPoint.matchPointDocType}}"
                                        ng-repeat="option in matchPoint.matchPointDocTypes" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="matchPoint.isAddLine" ng-bind="matchPoint.matchPointDocType"></span>
                        </td>
                        <td>
                            <input id="matchPointValue_{{$index}}" name="matchPointValue_{{$index}}" type="text"
                                   ng-model="matchPoint.matchPointValue"
                                   ng-show="matchPoint.matchPointDocType == 'Bibliographic' && !matchPoint.isAddLine"
                                   style="height: 30px; width: 150px;"/>
                            <select id="matchPointHoldings_{{$index}}" name="matchPointHoldings_{{$index}}"
                                    ng-model="matchPoint.matchPointValue"
                                    ng-show="matchPoint.matchPointDocType == 'Holdings' && !matchPoint.isAddLine">
                                <option ng-selected="{{option.name == matchPoint.matchPointValue}}"
                                        ng-repeat="option in matchPoint.holdingsMatchPoints" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <select id="matchPointItem_{{$index}}" name="matchPointItem_{{$index}}"
                                    ng-model="matchPoint.matchPointValue"
                                    ng-show="matchPoint.matchPointDocType == 'Item' && !matchPoint.isAddLine">
                                <option ng-selected="{{option.name == matchPoint.matchPointValue}}"
                                        ng-repeat="option in matchPoint.itemMatchPoints" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <select id="matchPointEholdings_{{$index}}" name="matchPointEholdings_{{$index}}"
                                    ng-model="matchPoint.matchPointValue"
                                    ng-show="matchPoint.matchPointDocType == 'EHoldings' && !matchPoint.isAddLine">
                                <option ng-selected="{{option.name == matchPoint.matchPointValue}}"
                                        ng-repeat="option in matchPoint.eHoldingsMatchPoints" value="{{option.name}}">
                                    {{option.name}}
                                </option>
                            </select>
                            <span ng-show="matchPoint.isAddLine" ng-bind="matchPoint.matchPointValue"></span>
                        </td>
                        <td>
                            <button id="matchPointAddButton_{{$indshowRemoveex}}" name="matchPointAddButton_{{$index}}"
                                    ng-click="matchPointAdd(matchPoint)" ng-hide="matchPoint.isAddLine">Add
                            </button>
                            <button id="matchPointRemoveButton_{{$index}}" name="matchPointRemoveButton_{{$index}}"
                                    ng-click="matchPointRemove(matchPoint)"
                                    ng-show="matchPoint.isAddLine && !submitted">Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
