<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2005-2013 The Kuali Foundation

    Licensed under the Educational Community License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.opensource.org/licenses/ecl2.php

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!--
Kuali Rice ArcheType Help

This file contains custom application specific web.xml content.
-->


<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>olefs</display-name>

    <context-param>
        <param-name>environment</param-name>
        <param-value>dev</param-value>
    </context-param>

    <context-param>
        <param-name>web.bootstrap.spring.file</param-name>
        <param-value>classpath:org/kuali/ole/BootStrapSpringBeans.xml</param-value>
    </context-param>

    <filter>
        <filter-name>monitoring</filter-name>
        <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>monitoring</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>net.bull.javamelody.SessionListener</listener-class>
    </listener>

    <filter>
        <filter-name>DummyLoginFilter</filter-name>
        <filter-class>org.kuali.ole.sys.web.filter.DevelopmentLoginFilter</filter-class>
        <init-param>
            <param-name>loginUser</param-name>
            <param-value>ole-quickstart</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>DummyLoginFilter</filter-name>
        <servlet-name>action</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DummyLoginFilter</filter-name>
        <servlet-name>dwr-invoker</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DummyLoginFilter</filter-name>
        <servlet-name>batchFileUpload</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>HideWebInfFilter</filter-name>
        <filter-class>org.kuali.rice.krad.web.filter.HideWebInfFilter</filter-class>
    </filter>

    <filter>
        <filter-name>ajaxSessionTimeoutFilter</filter-name>
        <filter-class>org.kuali.rice.krad.web.filter.UifSessionTimeoutFilter</filter-class>
    </filter>

    <filter>
        <filter-name>ResponseOverrideFilter</filter-name>
        <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
    </filter>

    <filter>
        <filter-name>BootstrapFilter</filter-name>
        <filter-class>org.kuali.rice.krad.web.filter.BootstrapFilter</filter-class>
    </filter>

    <filter>
        <filter-name>UserLoginFilter</filter-name>
        <filter-class>org.kuali.rice.krad.web.filter.UserLoginFilter</filter-class>
    </filter>

    <filter>
        <filter-name>UserPreferencesFilter</filter-name>
        <filter-class>org.kuali.rice.kew.web.UserPreferencesFilter</filter-class>
    </filter>

    <filter>
        <filter-name>Log4JContextClearingFilter</filter-name>
        <filter-class>org.kuali.rice.core.web.Log4JContextClearingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HideWebInfFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ResponseOverrideFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ajaxSessionTimeoutFilter</filter-name>
        <servlet-name>action</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>BootstrapFilter</filter-name>
        <servlet-name>action</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserLoginFilter</filter-name>
        <servlet-name>action</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserPreferencesFilter</filter-name>
        <servlet-name>action</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ajaxSessionTimeoutFilter</filter-name>
        <servlet-name>krad</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>BootstrapFilter</filter-name>
        <servlet-name>krad</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserLoginFilter</filter-name>
        <servlet-name>krad</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserPreferencesFilter</filter-name>
        <servlet-name>krad</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ajaxSessionTimeoutFilter</filter-name>
        <servlet-name>ole-krad</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>BootstrapFilter</filter-name>
        <servlet-name>ole-krad</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserLoginFilter</filter-name>
        <servlet-name>ole-krad</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserPreferencesFilter</filter-name>
        <servlet-name>ole-krad</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ajaxSessionTimeoutFilter</filter-name>
        <servlet-name>edoclite</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>BootstrapFilter</filter-name>
        <servlet-name>edoclite</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserLoginFilter</filter-name>
        <servlet-name>edoclite</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserPreferencesFilter</filter-name>
        <servlet-name>edoclite</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Log4JContextClearingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.kuali.ole.servlet.CharsetFilter</filter-class>
    </filter>

    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <servlet-name>krad</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <servlet-name>ole-krad</servlet-name>
    </filter-mapping>

    <listener>
        <listener-class>org.kuali.rice.krad.web.listener.NonSerializableSessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.kuali.ole.sys.context.OLEInitializeListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.kuali.rice.core.web.listener.BootstrapListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.kuali.rice.krad.web.listener.KualiHttpSessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.kuali.rice.core.framework.config.module.WebModuleLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.kuali.ole.sip2.listener.SIP2InitializeListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.kuali.rice.kns.web.struts.action.KualiActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>3</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>olecirculation</servlet-name>
        <servlet-class>org.kuali.ole.ncip.servlet.OLECirculationServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>olecirculation</servlet-name>
        <url-pattern>/circulation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>config-kew</param-name>
            <param-value>/WEB-INF/dwr-kew.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config-kns</param-name>
            <param-value>/WEB-INF/dwr-kns.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config-coa</param-name>
            <param-value>/WEB-INF/dwr-ole-coa.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>remoting</servlet-name>
        <servlet-class>org.kuali.rice.ksb.messaging.servlet.KSBDispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>export</servlet-name>
        <servlet-class>org.kuali.rice.core.web.impex.ExportServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>exportsecurity</servlet-name>
        <servlet-class>org.kuali.rice.ksb.security.admin.ExportServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>attachment</servlet-name>
        <servlet-class>org.kuali.rice.kew.notes.web.AttachmentServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>edoclite</servlet-name>
        <servlet-class>org.kuali.rice.edl.impl.EDLServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>krad</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ole-krad</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>batchFileUpload</servlet-name>
        <servlet-class>org.kuali.ole.sys.web.servlet.BatchFileUploadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NCIPServlet</servlet-name>
        <servlet-class>org.extensiblecatalog.ncip.v2.responder.implprof1.NCIPServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OLENCIPServlet</servlet-name>
        <servlet-class>org.kuali.ole.ncip.servlet.OLENCIPServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>batchFileUpload</servlet-name>
        <url-pattern>/batchFileUpload</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>remoting</servlet-name>
        <url-pattern>/remoting/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>export</servlet-name>
        <url-pattern>/export/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>exportsecurity</servlet-name>
        <url-pattern>/exportsecurity/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>attachment</servlet-name>
        <url-pattern>/kew/attachment/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>edoclite</servlet-name>
        <url-pattern>/kew/EDocLite</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>krad</servlet-name>
        <url-pattern>/kr-krad/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ole-krad</servlet-name>
        <url-pattern>/ole-kr-krad/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NCIPServlet</servlet-name>
        <url-pattern>/NCIPResponder/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OLENCIPServlet</servlet-name>
        <url-pattern>/OLENCIPResponder/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- only need to include this for the kuali tlds
         since tld file will only be searched from within other jars -->
    <jsp-config>
        <taglib>
            <taglib-uri>http://www.kuali.org/jsp/jstl/functions</taglib-uri>
            <taglib-location>/WEB-INF/tld/kuali-func.tld</taglib-location>
        </taglib>

        <!-- customized struts tags -->
        <taglib>
            <taglib-uri>http://www.kuali.org/struts.apache.org/tags-html</taglib-uri>
            <taglib-location>/WEB-INF/tld/kuali-struts-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://www.kuali.org/struts.apache.org/tags-html-el</taglib-uri>
            <taglib-location>/WEB-INF/tld/kuali-struts-html-el.tld</taglib-location>
        </taglib>
    </jsp-config>

    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>

    <filter>
        <filter-name>oleNGRestLoginFilter</filter-name>
        <filter-class>org.kuali.ole.oleng.rest.filter.OleNGRestLoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>oleNGRestLoginFilter</filter-name>
        <servlet-name>rest</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <servlet-name>rest</servlet-name>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>asrServlet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.kuali.asr.processor</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>asrServlet</servlet-name>
        <url-pattern>/asrService/*</url-pattern>
    </servlet-mapping>

    <!-- For Instance Details Service-->
    <servlet>
        <servlet-name>documentrest</servlet-name>
        <servlet-class>org.kuali.ole.systemintegration.rest.servlet.InstanceDetailRestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>documentrest</servlet-name>
        <url-pattern>/documentrest/holdings/tree</url-pattern>
    </servlet-mapping>



    <!-- For Download files-->
    <servlet>
        <servlet-name>fileDownloadServlet</servlet-name>
        <servlet-class>org.kuali.ole.servlet.FileDownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fileDownloadServlet</servlet-name>
        <url-pattern>/fileDownloadServlet/*</url-pattern>
    </servlet-mapping>

    <!-- Ole loader servlet configuration-->
    <servlet>
        <servlet-name>oleLoaderServlet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.kuali.ole.loaders</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>oleLoaderServlet</servlet-name>
        <url-pattern>/loaderApi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>api</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>7</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>api</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

</web-app>

