.messageClass{
    color: red;
    font-size: 16px;
}
.successMessageClass{
    color: #0000ff;
    font-size: 16px;
}

#Patron-name{
    font-size: 22px;
}

.fixed-size-20-Check {
    width:20px;
}

h4 {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #FF0000;
    text-decoration:blink;
    padding-top: 6px;
    padding-bottom: 0px;
}
.uif-documentView .uif-viewHeader {
    height: 20px;
    padding: 1;
}

.uif-viewHeader div.uif-docheader table {
    height: 20px;
}

.dropDownField{
    width: 200px;
    padding: 0;
}

.vendorDropDownField{
    width: 150px;
    padding: 0;
}

#mask {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/*div.blockOverlay{
    display:none !important;
}

div.blockUI{
    display:none !important;
}

div.blockPage{
    display:none !important;
}*/

span.uif-breadcrumbs, .backdoor, .test {
    display:none !important;
}

div#OLEEResourceRecordView-InstanceSelectionPopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div#OLEEResourceRecordView-InstanceDetailPopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    margin-top: -73.5px;
    margin-left: -534px;
    left: 630px;
    top: 409.5px;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div#OLEEResourceRecordView-GokbPopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: 50%;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div#OLEEResourceRecordView-CreateChildE-ResourcePopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: 50%;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div#OLEEResourceRecordView-RemoveRelationShipPopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: 50%;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div#OLEEResourceRecordView-RemoveRelationShipParentPopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: 50%;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div#MessagePopupSectionForLinkToERes{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


div#tiipResults{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    width: 1000px;
    height: 500px;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow-y:scroll
}


div#testTipps{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    width: 1000px;
    height: 500px;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow-y:scroll
}


div#OLEEResourceRecordView-DeleteRelatedInstancesPopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    overflow-y:scroll
}

div#OLEEResourceRecordView-DeleteRelatedInstancesInfoPopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    overflow-y:scroll
}

div#EResourceInstance_ManageGoKbPopup{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    overflow-y:scroll
}
