/*div.blockOverlay{
    display:none !important;
}

div.blockUI{
    display:none !important;
}*/

.messageClass{
    color: #D8000C;

    font-size:18px;

}
.messageClass_success{
    color: #00529B;
    font-size:18px;
}
div#OLEAddTitlesToInvoiceView-cancelSection{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#mask {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

div#MessagePopupSectionForInvoice{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#MessagePopupSectionForSubscriptionDateValidation{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}



div#MessagePopupSectionForBlanketApproveSubscriptionDateValidation{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#MessagePopupSectionForInvoiceAmountValidation{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


div#MessagePopupSectionForInvoiceAmountExceedsThreshold{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div#MessagePopupSectionForInvoiceAmountExceedsForBlanketApprove{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div#MessagePopupSectionForInvoiceBlankApp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#MessagePopupSectionForInvoiceValidation{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#MessagePopupSectionForBlanketApproveInvoiceValidation{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


/* DocumentView header custom styling */
.uif-documentView .uif-viewHeader h1.uif-headerText {
    float: left;
    margin-left: 5px;
    height: 2px;
}
h1.uif-headerText .uif-header-contentWrapper {
    width: 50%;
}
.uif-viewHeader .uif-headerText .uif-headerText-span {
    display: block;
    float: inherit;
    width: inherit;
    clear: both;
    font-size: 30px;
    margin: 0;
    padding: 0;
    padding-top: 6px;
}
.uif-documentView .uif-viewHeader {
    height: 15px;
    padding: 1;
}
h1.uif-headerText {
    font: bold 18px Helvetica;
}

h2.uif-headerText {
    font: normal 12px Georgia;
}

h3.uif-headerText {
    padding-top: 0px;
    width: 100%;
    font: bold 12px Helvetica;
    height: 12px;
}
.uif-viewHeader div.uif-docheader table {
    height: 20px;
}

div#OLEInvoice-DuplicationPopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#OLEInvoice-DuplicationApprovePopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 15%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#OLEInvoice-ClonePopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid #ddd;
    float: left;
    width: 250px;
    height: 100px;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.receiveAndPayHeader{
    display: block;
    float: inherit;
    width: inherit;
    clear: both;
    font-size: 32px;
    margin: 0;
    padding: 0;
    padding-top: 8px;
}

div#OLEAddTitlesToInvoiceView-continueReceiveAndPayDialog{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.fixed-size-50-select {
    width:50px;
}

div#MessagePopUpSectionForCurrencyOverride{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#OLEInvoice-DuplicationRoutePopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 15%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#OLEInvoice-DuplicationSavePopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 15%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}



div#OLEInvoice-DuplicationSavePopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#OLEInvoice-DuplicationValidationPopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 40%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#OLEInvoice-ConfirmationPopUp{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 15%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

