<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer1.html">
    <div ui-tree-handle class="tree-node tree-node-content" ng-class="{bibClass: node.docType == 'bibliographic', holdingsClass: node.docType == 'holdings', itemClass: node.docType == 'item'}">
        <div class="tree-node-content" style="margin-top: -5px; margin-left: -5px;">
            <a ng-show="node.docType == 'bibliographic'" class="btn btn-primary btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            <a ng-show="node.docType == 'holdings'" class="btn btn-warning btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            <a ng-show="node.docType == 'item'" class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': true}"></span></a>
            {{node.title}}
        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <div align="right">
            <button id="leftPrevious_{{node.id}}" class="btn-xs" ng-click="leftTreePrevious(node.id)"  style="" ng-show="node.docType == 'holdings' && node.showPrevious"><i class="fa fa-arrow-left"></i></button>
            <button id="leftNext_{{node.id}}" class="btn-xs" ng-click="leftTreeNext(node.id)"  style="" ng-show="node.docType == 'holdings' && node.showNext"><i class="fa fa-arrow-right"></i></button>
            <input class="form-control" type="hidden" id="leftStart_{{node.id}}" name="leftStart_{{node.id}}" ng-value="0"/>
        </div>
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer1.html'">
        </li>
    </ol>
</script>

<script type="text/ng-template" id="nodes_renderer2.html">
    <div ui-tree-handle class="tree-node tree-node-content" ng-class="{bibClass: node.docType == 'bibliographic', holdingsClass: node.docType == 'holdings', itemClass: node.docType == 'item'}">
        <div class="tree-node-content" style="margin-top: -5px; margin-left: -5px;">
            <a ng-show="node.docType == 'bibliographic'" class="btn btn-primary btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            <a ng-show="node.docType == 'holdings'" class="btn btn-warning btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            <a ng-show="node.docType == 'item'" class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': true}"></span></a>
            {{node.title}}
        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <div align="right">
            <button id="rightPrevious_{{node.id}}" class="btn-xs" ng-click="rightTreePrevious(node.id)"  style="" ng-show="node.docType == 'holdings' && node.showPrevious"><i class="fa fa-arrow-left"></i></button>
            <button id="rightNext_{{node.id}}" class="btn-xs" ng-click="rightTreeNext(node.id)"  style="" ng-show="node.docType == 'holdings' && node.showNext"><i class="fa fa-arrow-right"></i></button>
            <input class="form-control" type="hidden" id="rightStart_{{node.id}}" name="rightStart_{{node.id}}" ng-value="0"/>
        </div>
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer2.html'">
        </li>
    </ol>
</script>


<div class="row" ng-controller="treesController" ng-show="searched">
    <div align="center">
        <button class="btn btn-primary btn-sm" ng-click="copyToTree1()">Copy to Tree1</button>
        <button class="btn btn-primary btn-sm" ng-click="copyToTree2()">Copy to Tree2</button>
    </div>

    <div class="col-sm-6">
        <h3>Tree 1</h3>
        <span class="messageClass" ng-bind="message" ng-show="message!='' "/>

        <div ui-tree id="tree1-root">
            <ol ui-tree-nodes="" ng-model="tree1">
                <li ng-repeat="node in tree1" ui-tree-node ng-include="'nodes_renderer1.html'">
                </li>
            </ol>
        </div>
    </div>

    <div class="col-sm-6">
        <h3>Tree 2</h3>

        <div ui-tree id="tree2-root">
            <ol ui-tree-nodes="" ng-model="tree2">
                <li ng-repeat="node in tree2" ui-tree-node ng-include="'nodes_renderer2.html'"></li>
            </ol>
        </div>
    </div>
</div>




