<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }

    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>


<div ng-hide="searched">
    <div id="searchResults">
        <div align="right">
            <button class="btn-xs" ng-click="previous()"  style="margin-top: 20px; margin-bottom: 10px;" ng-show="showPrevious">previous</button>
            <button class="btn-xs" ng-click="next()"  style="margin-top: 20px; margin-bottom: 10px;" ng-show="showNext">next</button>
        </div>
    <table>
        <thead>
        </thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
        </tr>
        <tr ng-repeat="x in searchResults">
            <td><input type="checkbox" ng-model="x.selected"></td>
            <td>{{ x.Title_display[0] }}</td>
            <td>{{ x.Author_display[0]}}</td>
            <td>{{ x.Publisher_display[0]}}</td>
        </tr>
        <tfoot>
        </tfoot>
    </table>
        <div align="right">
            <button class="btn-xs" ng-click="previous()" style="margin-top: 10px;" ng-show="showPrevious">previous</button>
            <button class="btn-xs" ng-click="next()"  style="margin-top: 20px; " ng-show="showNext">next</button>
        </div>
    </div>

</div>

