<!--<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }

    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>-->


<div>

    <div id="searchResultsSection" class="bs-component">
        <!--<div align="right">
            <button class="btn-xs" ng-click="previous()"  style="margin-top: 20px; margin-bottom: 10px;" ng-show="showPrevious">previous</button>
            <button class="btn-xs" ng-click="next()"  style="margin-top: 20px; margin-bottom: 10px;" ng-show="showNext">next</button>
        </div>-->
        <!--<div class="text-right">
            <dir-pagination-controls max-size="8"
                                     direction-links="true"
                                     boundary-links="true"
                                     on-page-change="nextSearchSolr(newPageNumber)">
            </dir-pagination-controls>
        </div>-->
        <table class="table table-striped table-hover">
        <thead>
        </thead>
        <div align="left" class="dataTables_length">
            <label for="showEntry">Show</label>
            <select name="showEntry" id="showEntry" ng-model="showEntry" ng-change="searchOnChange(showEntry)">
                <option ng-selected="{{option.id == showEntry}}"
                ng-repeat="option in showEntires" value="{{option.id}}">
                {{option.name}}
                </option>
            </select>
            <label for="showEntry">entries</label>
        </div>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
        </tr>
        <tr dir-paginate="x in searchResults|itemsPerPage:itemsPerPage" total-items="total_count">
            <td><input type="checkbox" ng-model="x.selected"></td>
            <td><a target="_blank" href="ole-kr-krad/editorcontroller?viewId=EditorView&amp;methodToCall=load&amp;docCategory=work&amp;docType={{x.DocType}}&amp;docFormat={{x.DocFormat}}&amp;docId={{x.LocalId_search}}&amp;editable=true&amp;fromSearch=true">{{ x.Title_display[0] }}</a></td>
            <td>{{ x.Author_display[0]}}</td>
            <td>{{ x.Publisher_display[0]}}</td>
        </tr>
        <tfoot>
        </tfoot>
        </table>

        <div class="dataTables_info"> {{showEntryInfo}} </div>

        <div class="text-right">
            <dir-pagination-controls max-size="8"
                                     direction-links="true"
                                     boundary-links="true"
                                     on-page-change="nextSearchSolr(newPageNumber)">
            </dir-pagination-controls>
        </div>
    </div>
       <!-- <div align="right">
            <button class="btn-xs" ng-click="previous()" style="margin-top: 10px;" ng-show="showPrevious">previous</button>
            <button class="btn-xs" ng-click="next()"  style="margin-top: 20px; " ng-show="showNext">next</button>
        </div>-->
</div>

