.messageClass{
    color: red;
    font-size: 14px;
}
.errorUser{
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    font-size: 30px;
    color: red;

}

#Patron-name{
    font-size: 22px;
}

.fixed-size-20-Check {
    width:20px;
}

#mask {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

div#AlterDueDateSection-HorizontalBoxSection_div {
    display: none;
    position: absolute;
    top: 40%;
    left: 19%;
    width: 72%;
    height: auto;
    margin: -100px 0 0 -250px;
    background: rgb(233, 233, 233);
    border: 1px solid rgb(128, 128, 128);
}