.messageClass{
    color: red;
    font-size: 14px;
}
.errorUser{
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    font-size: 30px;
    color: red;

}

#Patron-name{
    font-size: 22px;
}

.fixed-size-20-Check {
    width:20px;
}

#mask {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

div#AlterDueDateSection-HorizontalBoxSection_div {
    display: none;
    position: absolute;
    top: 40%;
    left: 19%;
    width: 72%;
    height: auto;
    margin: -100px 0 0 -250px;
    background: rgb(233, 233, 233);
    border: 1px solid rgb(128, 128, 128);
}

div#OLEPlaceRequestView_MultipleItem_details{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}