.messageClass{
    color: red;
    font-size: 13px;
}

.dataTables_filter {
    display: none;
}

.dataTables_length {
    margin: 0;
    text-align: left;
}
.dataTables_info {
    width: auto;
}
.uif-headerText-span {
    float: left;
}

.paginate_disabled_previous {
    color: #999999;
}
.paginate_disabled_previous:focus{
    color: #999999;
    text-decoration: none;
}
.paginate_disabled_previous:hover{
    color: #999999;
    text-decoration: none;
}
.paginate_disabled_next{
    color: #999999;
}
.paginate_disabled_next:hover{
    color: #999999;
    text-decoration: none;
}
.paginate_disabled_next:focus{
    color: #999999;
    text-decoration: none;
}

.staffOnlyClass{
    color: red;
    font-style: italic;
}
.staffOnlyForHiperlink A:Visited {
    font-weight: normal;
    color: red;
    font-style: italic;
    background:yellow;
}

.staffOnlyForHiperlink A:link {
    font-weight: normal;
    color: red;
    font-style: italic;
}

.staffOnlyForHiperlink A:active {
    font-weight: normal;
    color: red;
    font-style: italic;
    background:yellow;
}
.staffOnlyClassForHoldinsItems{
    color: red;
    font-style: normal;
}
#mask {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}
div#MessagePopupSectionForLinkToOrder{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 20%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
div#MessagePopupSectionForLinkToEResource{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
