/*.uif-sectionHeaderField h3.uif-header {
    border-bottom: 0px solid #000000;
}

#DescribeWorkBenchView_div table tbody tr.odd {
    background-color: white;
}

div.blockOverlay{
    display:none !important;
}

div.blockElement{
    display:none !important;
}*/

.einstanceClass{
    font-weight: normal;
    color: red;
    font-style: italic;
}
.eresourceClass{
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
}

.staffOnlyClass{
    color: red;
    font-style: italic;
}
.staffOnlyForHiperlink A:Visited {
    font-weight: normal;
    color: red;
    font-style: italic;
    background:yellow;
}

.staffOnlyForHiperlink A:link {
    font-weight: normal;
    color: red;
    font-style: italic;
    background:yellow;
}

.staffOnlyForHiperlink A:active {
    font-weight: normal;
    color: red;
    font-style: italic;
    background:yellow;
}
.staffOnlyClassForHoldinsItems{
    color: red;
    font-style: normal;
}

.dataTables_filter {
    display: none;
}

.dataTables_length {
    margin: 0;
}

.uif-message{
    white-space:normal;
}
.dataTables_wrapper{
    width: 1524px;
}

.paginate_disabled_previous {
    color: #999999;
}
.paginate_disabled_previous:focus{
    color: #999999;
    text-decoration: none;
}
.paginate_disabled_previous:hover{
    color: #999999;
    text-decoration: none;
}
.paginate_disabled_next{
    color: #999999;
}
.paginate_disabled_next:hover{
    color: #999999;
    text-decoration: none;
}
.paginate_disabled_next:focus{
    color: #999999;
    text-decoration: none;
}
#mask {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}
div#MessagePopupSectionForLinkToOrder{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 20%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div#MessagePopupSectionForLinkToEResource{
    display:none;
    background: #DDDDDD;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

